# Método del Cuadrado Medio

In [2]:
def cuadrado_medio(semilla):
  s_2 = semilla**2
  s_aux = str(s_2)
  if len(s_aux) == 7:
      s_aux = '0'+s_aux
  lista = []

  for i in s_aux:
    lista.append(i)

  lista_new = lista[2:6]

  numero = int("".join(map(str,lista_new)))
  print(numero)

  return numero

In [10]:
semilla = 2121
print("Semilla:", semilla)
print("---------------------")
for i in range(10):
  print("Número aleatorio",i+1,":")
  semilla = cuadrado_medio(semilla)
  print("---")

Semilla: 2121
---------------------
Número aleatorio 1 :
4986
---
Número aleatorio 2 :
8601
---
Número aleatorio 3 :
9772
---
Número aleatorio 4 :
4919
---
Número aleatorio 5 :
1965
---
Número aleatorio 6 :
8612
---
Número aleatorio 7 :
1665
---
Número aleatorio 8 :
7722
---
Número aleatorio 9 :
6292
---
Número aleatorio 10 :
5892
---