#Generador Congruencial

$$x_{j+1} = (ax_j+b)\,\, \text{mod}\, \, m$$

In [15]:
def gcongruencial(x0,a,b,m):
  x1 = (a*x0+b) % m
  return(x1)

In [17]:
import tabulate

x0 = 0
a = 5
b = 3
m = 16

datos = []
for i in range (16):
  nuevo = gcongruencial(x0,a,b,m)
  datos.append([
      i,
      x0,
      nuevo
  ])
  x0 = nuevo

encabezados = ["Iteración", "X", "X nueva"]

print(tabulate.tabulate(datos, headers=encabezados, tablefmt="psql",numalign="center"))

+-------------+-----+-----------+
|  Iteración  |  X  |  X nueva  |
|-------------+-----+-----------|
|      0      |  0  |     3     |
|      1      |  3  |     2     |
|      2      |  2  |    13     |
|      3      | 13  |     4     |
|      4      |  4  |     7     |
|      5      |  7  |     6     |
|      6      |  6  |     1     |
|      7      |  1  |     8     |
|      8      |  8  |    11     |
|      9      | 11  |    10     |
|     10      | 10  |     5     |
|     11      |  5  |    12     |
|     12      | 12  |    15     |
|     13      | 15  |    14     |
|     14      | 14  |     9     |
|     15      |  9  |     0     |
+-------------+-----+-----------+