# Método Producto Medio

In [1]:
def producto_medio(semilla1, semilla2):
  s_2 = semilla1*semilla2
  s_aux = str(s_2)
  if len(s_aux) == 7:
      s_aux = '0'+s_aux
  lista = []

  for i in s_aux:
    lista.append(i)

  lista_new = lista[2:6]

  numero = int("".join(map(str,lista_new)))
  print(numero)

  return numero

In [2]:
sem_1 = 2121
sem_2 = 2392

print("Semillas:", sem_1,",", sem_2)
print("-------------------------")
for i in range(10):
  print("Número aleatorio",i+1,":")
  sem_1 = producto_medio(sem_1, sem_2)
  print("---")

Semillas: 2121 , 2392
-------------------------
Número aleatorio 1 :
734
---
Número aleatorio 2 :
7557
---
Número aleatorio 3 :
763
---
Número aleatorio 4 :
8250
---
Número aleatorio 5 :
7340
---
Número aleatorio 6 :
5572
---
Número aleatorio 7 :
3282
---
Número aleatorio 8 :
8505
---
Número aleatorio 9 :
3439
---
Número aleatorio 10 :
2260
---